body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.container > h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3%;
}
.input-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
/* .images-container:first-child{
  grid-column: span 3;
} */
.grid-col-span {
  grid-column: span 2;
}
.grid-rand-span,
.grid-col-span {
  position: relative;
}

img {
  width: 100%;
  max-height: 300px;
  height: auto;
  border-radius: 5px;

  object-fit: scale-down;
}
@media only screen and (min-width: 900px) {
  .images-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 400px) {
  .images-container {
    grid-template-columns:repeat(1,100%);
  }
  .grid-col-span {
  grid-column: auto;
}
}
.image-title {
  opacity: 0;
  position: absolute;
  top: 0%;
  color: whitesmoke;
  font-size: 12px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.662);
  width: 100%;
  height: 100%;
  font-weight: 700;
  transition: all 0.7s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.image-title > h3 {
  margin: 20px 10px;
  text-transform: capitalize;
}

.image-title:hover {
  opacity: 1;
}
